@{
    ViewBag.Title = "AndereNaam";
}

<h1>@(1 + 2 * 5 + 0.5)</h1>
<h2>AndereNaam</h2>

@for (var teller = 0; teller < 10; teller++)
{ @teller<br />
}
@{
    <h2>Countdown</h2>
    var getal = 10;
    while (getal > 0)
    { <p>@getal</p>
        getal--;
    } }
Het resultaat van (1+2*5+0.5) is @(1 + 2 * 5 + 0.5)

@for (var teller = 0; teller < 10; teller++)
{ <br />@teller
}

@("Sien & Maria")

@if (new Random().Next(1, 11) == 7)
{ <text>Het is zeven</text> @: Je hebt geluk
}
else
{ <text>Het is geen zeven</text> @: Een andere keer misschien
}