@model MVC_Tuincentrum.Models.ZoekSoortForm
@{
    ViewBag.Title = "ZoekForm";
}

<h2>Soorten zoeken op begin naam</h2>
@using (Html.BeginForm("BeginNaam", "Soort", FormMethod.Get))
{
    @Html.LabelFor(m => m.beginNaam)
    @Html.ValidationMessageFor(m => m.beginNaam)
    @Html.EditorFor(m => m.beginNaam)
    <input type="submit" value="zoeken" />
    <p></p>   
}
@if (Model.Soorten != null)
{
    <table>
        <thead>
            <tr>
                <th>Soort</th>
                <th>Magazijnnr</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var soort in Model.Soorten)
            {
                <tr>
                    <td>@soort.Naam</td>
                    <td align="center">@soort.MagazijnNr</td>
                </tr>
            }
        </tbody>
    </table>
}

